<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Quy tắc Rewrite cho Vue.js Single Page Application (SPA) -->
        <rewrite>
            <rules>
                <!-- SPA Fallback -->
                <rule name="SPA Fallback" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <!-- Điều kiện để kiểm tra xem file hoặc thư mục không tồn tại -->
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <!-- Nếu không tìm thấy file hoặc thư mục, chuyển hướng đến index.html -->
                    <action type="Rewrite" url="/dist/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
